.wrapper {
   display: flex;
}
.container {
   width: 50%;
   // display: inline-block;
}

.left {
   // float: left;
   justify-content: flex-start;
}

.right {
   // float: right;
   justify-content: flex-end;
}

.name {
   padding: 5px;
}