.registerContainer {
    height: 100%;
    justify-content: center;
    background-color: rgb(83, 124, 83)
}

.registerText {
    margin-top: 30px;
    margin-left: 5px;
    color: rgb(239, 234, 225);
    display: flex;
    flex-wrap: wrap;
}

.registerTextMargin {
    margin-left: 10px;
    font-size: 50px;
}

.buttonContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}